.wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 0 30px;
}

h1 {
  font-size: 22px;
  font-weight: 800;
}

header {
  width: 100%;
  background-color: hsl(209, 23%, 22%);
  padding: 20px 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.274);
  margin-bottom: 40px;
}

header button {
  background: transparent;
  outline: 0;
  border: 0;
  color: inherit;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: inherit;
  cursor: pointer;
  width: 100px;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
  row-gap: 20px;
}

.searchbar {
  background-color: hsl(209, 23%, 22%);
  width: 500px;
  padding: 18px 25px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.274);
}

.searchbar input {
  margin-left: 20px;
  background-color: transparent;
  border: 0;
  width: 100%;
  outline: 0;
  color: inherit;
}

.searchbar input::placeholder {
  font-family: "Nunito Sans", sans-serif;
  color: inherit;
}

.dropdown {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.274);
  font-size: 14px;
}

.dropdown-toggle {
  background-color: hsl(209, 23%, 22%);
  border: none;
  color: inherit;
  width: 180px;
  font-family: inherit;
  padding: 18px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: hsl(209, 23%, 22%);
  width: 180px;
  padding: 18px;
  border-radius: 4px;
  gap: 4px;
  top: 3px !important;
}

.dropdown-item {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  place-items: center;
}

.country-box {
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.274);
  background-color: hsl(209, 23%, 22%);
  border-radius: 2%;
  width: 100%;
  padding-bottom: 30px;
  height: 320px;
}

.country-box img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

ul {
  font-size: 14px;
  padding: 0 30px;
  list-style: none;
}

li {
  font-weight: 200;
  margin: 4px 0;
}

span {
  font-weight: 600;
}

h2 {
  margin-bottom: 20px;
}

.flexFile {
  display: flex;
  gap: 15%;
  justify-content: space-evenly;
}

.backBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.274);
  padding: 8px 24px;
  width: 110px;
  color: inherit;
  font-family: inherit;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 80px;
  cursor: pointer;
}

.icon {
  font-size: 20px;
}

.flag {
  width: 45%;
  height: 350px;
  object-fit: cover;
}

.infoWrapper {
  padding: 30px 0;
  width: 50%;
}

.infoWrapper ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-bottom: 40px;
}

.infoWrapper li {
  width: 50%;
  margin-top: 8px;
}

.infoInner {
  display: flex;
  flex-wrap: wrap;
}

.borderWrapper {
  width: 100%;
  padding: 30px 0;
}
